<h2>Login</h2>
<form>
    <div class="form-group">
        <label>User Email:</label>
        <input class="form-control" #userEmail />
    </div>
    <div class="form-group">
        <label>User Password:</label>
        <input type="password" class="form-control" #userPassword />
    </div>
    <button type="button" class="btn btn-primary" (click)="login(userEmail.value, userPassword.value);">
      Login
    </button>
    <button type="button" class="btn btn-primary" (click)="travelToRegister();">Register</button>
</form>