<!-- <h2>Login</h2>
<form [formGroup] = "loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" formControlName="email" class="form-control" 
        [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Email is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" formControlName="password" class="form-control" 
        [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Login
        </button>
        <a routerLink="/register" class="btn btn-link">Register</a>
    </div>
</form> -->

<h2>Login</h2>
<div>
    <label>User Email:
        <input #userEmail />
    </label>
    <label>User Password:
        <input #userPassword />
    </label>
    <button (click)="login(userEmail.value, userPassword.value);">
      Login
    </button>
</div>

<div>
    <label>User ID:
        <input #userId />
    </label>
    <button (click)="loginById(userId.value);">
      Login with ID
    </button>

</div>

<div>
    <button (click)="travelToRegister();">Register</button>
</div>