<header>
    <h2>Admin</h2>
    <button type="button" class="btn btn-primary" (click)="returnHome();">Home</button>
    <button type="button" class="btn btn-primary" (click)="logout();">Log Out</button>
</header>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Email</th>
        <th>Password</th>
        <th>Role</th>
        <th>Actions</th>
    </tr>
    <tr>
        <td></td>
        <td><input #userEmail placeholder="email"/></td>
        <td><input #userPassword placeholder="password"/></td>
        <td><input #userRole placeholder="user"/></td>
        <td>
            <button type="button" class="btn btn-success" 
            (click)="add(userEmail.value, userPassword.value, userRole.value);">
                Add
            </button>
        </td>
    </tr>
    <tr *ngFor="let user of allUsers">
        <td><input value={{user.id}} disabled></td>
        <td><input value={{user.email}} disabled></td>
        <td><input type="password" value={{user.password}} disabled></td>
        <td><input value={{user.role}} disabled></td>
        <td>
            <button type="button" class="btn btn-danger" 
            (click)="delete(user.id)">
                Delete
            </button>
        </td>
    </tr>
</table>

<div>
    
</div>